{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static './css/style.css'%}">
</head>
<header>
    <a href="#">
        <img src="{% static './img/logo.webp' %}" alt="">
    </a>
</header>

<body>
     <div class="container">
         <a href="{% url 'home_page' %}">Артқа қайту</a>
         <h2>Жаңалықтар</h2>
         <div class="news">

             <article>
                 <img src="{{ post.image_url }}">
                 <h3>{{post.title }}</h3>
                 <strong>{{post.created_at|date:"d.m.Y" }}</strong>
                 <p>
                     {{ post.description }}
                 </p>
             </article>

         </div>
     </div>
</body>
</html>